    .titolo-form {
        margin-bottom: 20px;
        text-align: center;
        color: #4A79FB;
        font-weight: 700;
    }
    
    .colore {
        background: red;
    }
    
    #delega,
    #delega2 {
        display: none;
    }
    
    .btn-salva {
        text-align: center;
    }
    
    .hr-spazio {
        margin-bottom: 30px;
    }
    
    .p-dropdown .p-dropdown-trigger {
        background: red !important;
    }
    
    .cazz {
        background: red
    }